# Build results
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Rider, VSCode settings etc.
.idea/
.vscode/

# Others
*.db
*.log
*.vs/

# Test results and coverage
TestResults/
*.coverage
coverage.json
coverlet/